

body a:hover{
  background-color: transparent;

}


.recipe .row{
    margin-left:5%;
    margin-right:5%;

}

aside .col-md-3 {
    width:300px;
    font-size: 0.9em;
    -moz-opacity: 0.5;
}

.zoomarticle {
  height: auto;
  float: left;
  box-sizing: border-box;
  list-style: none;
}

.article_big_img {
  width: 140px;
  height: 140px;
  overflow: hidden;
  padding: 4px;
}

.article_big_img > img {
  height: 120px;
  width: 120px;
  object-fit: cover;
  border-radius: 50%;
  transition: all 1s;
}

.article_big_img > div.star{
    position: absolute;
    margin-left: 8px;
    margin-top: 5px;
}

.zoomarticle:hover > .article_big_img > img {
  transform: scale(1.03);
}


.custom-file-input {
    color: transparent;
    width: 670px;
}
.custom-file-input::-webkit-file-upload-button {
    visibility: hidden;
}
.custom-file-input::before {
    content: 'Selectionnez une photo';
    color: black;
    display: inline-block;
    border: 1px solid #999;
    border-radius: 2px;
    padding: 5px 257px;
    outline: none;
    white-space: nowrap;
    -webkit-user-select: none;
}
.custom-file-input:hover::before {
    border-color: rgba(0, 0, 0, 0.63);
}
.custom-file-input:active {
    outline: 0;
}


.table-striped td {
    height: 40px;
    width: 100px;
    font-family: 'Open Sans', sans-serif;
}

.col-md-6 h3{
    font-family: 'Montserrat', sans-serif;
}

.col-md-6 h5{
    font-family: 'Open Sans', sans-serif;}

.col-md-6 h2{
    font-family: 'Lobster', cursive;
    text-align: center;
    margin-bottom: 35px;
}

table.table.table-striped.custab{
    margin-top: 60px;
}
div.star{
    text-align: center;

}

input#recipe_photo.custom-file-input{
    height: 34px;
}


body{ background: #fafafa;}
.widget-area.blank {
    background: none repeat scroll 0 0 rgba(0, 0, 0, 0);
    -webkit-box-shadow: none;
    -moz-box-shadow: none;
    -ms-box-shadow: none;
    -o-box-shadow: none;
    box-shadow: none;
}
body .no-padding {
    padding: 0;
}
.widget-area {
    background-color: #fff;
    -webkit-border-radius: 4px;
    -moz-border-radius: 4px;

    border-radius: 4px;
    -webkit-box-shadow: 0 0 16px rgba(0, 0, 0, 0.05);
    -moz-box-shadow: 0 0 16px rgba(0, 0, 0, 0.05);
    -o-box-shadow: 0 0 16px rgba(0, 0, 0, 0.05);
    box-shadow: 0 0 16px rgba(0, 0, 0, 0.05);
    float: left;
    margin-top: 30px;
    padding: 25px 30px;
    position: relative;
    width: 100%;
}
.status-upload {
    background: none repeat scroll 0 0 #f5f5f5;
    -webkit-border-radius: 4px;
    -moz-border-radius: 4px;
    border-radius: 4px;
    float: left;
    width: 100%;
}
.status-upload form {
    float: left;
    width: 100%;
}
.status-upload form textarea {
    background: none repeat scroll 0 0 #fff;
    -webkit-border-radius: 4px 4px 0 0;
    -moz-border-radius: 4px 4px 0 0;
    border-radius: 4px 4px 0 0;
    color: #777777;
    float: left;
    font-family: Lato;
    font-size: 14px;
    height: 142px;
    letter-spacing: 0.3px;
    padding: 20px;
    width: 100%;
    resize:vertical;
    outline:none;
    border: 1px solid #F2F2F2;
}

.status-upload ul {
    float: left;
    list-style: none outside none;
    margin: 0;
    padding: 0 0 0 15px;
    width: auto;
}
.status-upload ul > li {
    float: left;
}
.status-upload ul > li > a {
    -webkit-border-radius: 4px;
    -moz-border-radius: 4px;

    border-radius: 4px;
    color: #777777;
    float: left;
    font-size: 14px;
    height: 30px;
    line-height: 30px;
    margin: 10px 0 10px 10px;
    text-align: center;
    -webkit-transition: all 0.4s ease 0s;
    -moz-transition: all 0.4s ease 0s;
    -o-transition: all 0.4s ease 0s;
    transition: all 0.4s ease 0s;
    width: 30px;
    cursor: pointer;
}
.status-upload ul > li > a:hover {
    background: none repeat scroll 0 0 #606060;
    color: #fff;
}
.status-upload form button {
    border: medium none;
    -webkit-border-radius: 4px;
    -moz-border-radius: 4px;
    -ms-border-radius: 4px;
    -o-border-radius: 4px;
    border-radius: 4px;
    color: #fff;
    float: right;
    font-family: Lato;
    font-size: 14px;
    letter-spacing: 0.3px;
    margin-right: 9px;
    margin-top: 9px;
    padding: 6px 15px;
}
.dropdown > a > span.green:before {
    border-left-color: #2dcb73;
}
.status-upload form button > i {
    margin-right: 7px;
}

.message-item {
    margin-bottom: 25px;
    margin-left: 40px;
    position: relative;
}
.message-item .message-inner {
    background: #fff;
    border: 1px solid #ddd;
    border-radius: 3px;
    padding: 10px;
    position: relative;
}
.message-item .message-inner:before {
    border-right: 10px solid #ddd;
    border-style: solid;
    border-width: 10px;
    color: rgba(0,0,0,0);
    content: "";
    display: block;
    height: 0;
    position: absolute;
    left: -20px;
    top: 6px;
    width: 0;
}
.message-item .message-inner:after {
    border-right: 10px solid #fff;
    color: rgba(0,0,0,0);
    content: "";
    display: block;
    height: 0;
    position: absolute;
    left: -18px;
    top: 6px;
    width: 0;
}
.message-item:before {
    background: #fff;
    border-radius: 2px;
    bottom: -30px;
    box-shadow: 0 0 3px rgba(0,0,0,0.2);
    content: "";
    height: 100%;
    left: -30px;
    position: absolute;
    width: 3px;
}
.message-item:after {
    background: #fff;
    border: 2px solid #ccc;
    border-radius: 50%;
    box-shadow: 0 0 5px rgba(0,0,0,0.1);
    content: "";
    height: 15px;
    left: -36px;
    position: absolute;
    top: 10px;
    width: 15px;
}
.clearfix:before, .clearfix:after {
    content: " ";
    display: table;
}
.message-item .message-head {
    border-bottom: 1px solid #eee;
    margin-bottom: 8px;
    padding-bottom: 8px;
}
.message-item .message-head .avatar {
    margin-right: 20px;
}
.message-item .message-head .user-detail {
    overflow: hidden;
}
.message-item .message-head .user-detail h5 {
    font-size: 16px;
    font-weight: bold;
    margin: 0;
}
.message-item .message-head .post-meta {
    float: left;
    padding: 0 15px 0 0;
}
.message-item .message-head .post-meta >div {
    color: #333;
    font-weight: bold;
    text-align: right;
}
.post-meta > div {
    color: #777;
    font-size: 12px;
    line-height: 22px;
}
.message-item .message-head .post-meta >div {
    color: #333;
    font-weight: bold;
    text-align: right;
}
.post-meta > div {
    color: #777;
    font-size: 12px;
    line-height: 22px;
}
.avatar.pull-left img {
    min-height: 40px;
    max-height: 40px;
}

label.btn.btn-success{
    width: 221px;
}

label.btn.btn-warning{
    width: 222px;
}

label.btn.btn-danger{
    width: 221px;
    margin-bottom: 20px;
}

.newrecipe{
    text-align: center;
    padding-left: 15px;
    padding-right: 15px;
    vertical-align: middle;

}

a.btn.btn-secondary.col-md-12{
    background-color: white;
    border: #a8a8a8 solid 1px;
    margin-bottom: 20px;
    color: #6a6a6a;
}
a.btn.btn-secondary.col-md-12:hover{
    background-color: #fafafa;
    color: #464646
}

